<div class="pull-right pt-4"><strong><small> Welcome, Commisioner 1 </small></strong> <img alt="commissioner" src="~/Content/img/comm1.png" class="img-thumbnail rounded-circle" style="max-width:50px;" /> </div>
<br/>
<h1 class="card-title py-5 font-bold flex-center"><strong>IACHR eVote System</strong></h1>
<div class="card-deck">
    <div class="card mb-4" style="width: 10rem;">
        <div class="view overlay zoom hoverable z-depth-1">
            <img class="img-fluid" src="~/Content/img/new.png" alt="My Pending">
            <a href="@Url.Action("New", "Admin")">
                <div class="mask flex-center waves-effect waves-light rgba-black-strong rounded">
                    <h2 class="white-text">New</h2>
                </div>
            </a>
        </div>
        @*<a href="@Url.Action("Index", "Admin")" class="btn-floating btn-action ml-auto mr-4 red lighten"><span>3</span></a>*@
        <div class="card-body">
            <h4 class="card-title">New</h4>
        </div>
    </div>
    <div class="card mb-4">
        <div class="view overlay zoom hoverable z-depth-1">
            <img class="img-fluid" src="~/Content/img/current.png" alt="On-going">
            <a href="@Url.Action("Index", "Admin")">
                <div class="mask flex-center waves-effect waves-light rgba-black-strong rounded">
                    <h2 class="white-text">Current</h2>
                </div>
            </a>
        </div>
        @*<a href="@Url.Action("Index", "Admin")" class="btn-floating btn-action ml-auto mr-4 red lighten"><span>5</span></a>*@
        <div class="card-body">
            <h4 class="card-title">Current</h4>
        </div>
    </div>
    <div class="card mb-4">
        <div class="view overlay zoom hoverable z-depth-1">
            <img class="img-fluid" src="~/Content/img/archive.png" alt="Closed">
            <a href="@Url.Action("Index", "Admin")">
                <div class="mask flex-center waves-effect waves-light rgba-black-strong rounded">
                    <h2 class="white-text">Archive</h2>
                </div>
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Archive</h4>
        </div>
    </div>
    <div class="card mb-4">
        <div class="view overlay zoom hoverable z-depth-1">
            <img class="img-fluid" src="~/Content/img/alerts.jpeg" alt="My Pending">
            <a href="@Url.Action("Index", "Admin")">
                <div class="mask flex-center waves-effect waves-light rgba-black-strong rounded">
                    <h2 class="white-text">Alerts</h2>
                </div>
            </a>
        </div>
        @*<a href="@Url.Action("Index", "Admin")" class="btn-floating btn-action ml-auto mr-4 red lighten"><span>3</span></a>*@
        <div class="card-body">
            <h4 class="card-title">Alerts</h4>
        </div>
    </div>
    <div class="card mb-4">
        <div class="view overlay zoom hoverable z-depth-1">
            <img class="img-fluid" src="~/Content/img/access.png" alt="On-going">
            <a href="@Url.Action("Index", "Admin")">
                <div class="mask flex-center waves-effect waves-light rgba-black-strong rounded">
                    <h2 class="white-text">Access</h2>
                </div>
            </a>
        </div>
        @*<a href="@Url.Action("Index", "Admin")" class="btn-floating btn-action ml-auto mr-4 red lighten"><span>5</span></a>*@
        <div class="card-body">
            <h4 class="card-title">Access</h4>
        </div>
    </div>
    <div class="card mb-4">
        <div class="view overlay zoom hoverable z-depth-1">
            <img class="img-fluid" src="~/Content/img/settings.png" alt="Closed">
            <a href="@Url.Action("Index", "Admin")">
                <div class="mask flex-center waves-effect waves-light rgba-black-strong rounded">
                    <h2 class="white-text">Settings</h2>
                </div>
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Settings</h4>
        </div>
    </div>
</div>
