@model org.oas.cidh.eVote.ViewModels.VotingProcessesViewModel

<!--Table-->
<table class="table table-hover">
    <!--Table head-->
    <thead>
        <tr>
            @*class="text-center font-weight-bold"*@
            <th class="font-weight-bold">Prioridad</th>
            <th class="font-weight-bold">Paises</th>
            <th class="font-weight-bold">Categoría</th>
            <th class="font-weight-bold">Tema / Relatoría</th>
            <th class="font-weight-bold">PC / MC</th>
            <th class="font-weight-bold">Fecha de inicio</th>
            <th class="font-weight-bold">Fecha de cierre</th>
            <th class="font-weight-bold">Resultado</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        @foreach (var p in Model.VotingProcesses)
        {
            <tr onclick="window.location='@Url.Action("Details", "Processes", new { id = p.Id })'">
                <td class="text-center red-text"><i class="fa fa-exclamation" aria-hidden="true"></i></td>
                <td class="text-center"><img src="@p.Countries.FirstOrDefault().ImgURL" /></td>
                <td>@p.Category.Name</td>
                <td>@p.Subject.Name</td>
                <td>@p.CaseId</td>
                <td>@p.StartDate.ToShortDateString()</td>
                <td>@p.EndDate.ToShortDateString()</td>
                <td>@p.Result.ToString()</td>
            </tr>
        }
    </tbody>
    <!--Table body-->

</table>
<!--Table-->
