
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Processes Menu-->
<ul class="nav nav-tabs nav-justified processes-nav after-navBar light-blue darken-3 mx-0">
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Processes")"><i class="fa fa-calendar-check-o"></i> Pendientes <span class="badge badge-pill badge-danger">3</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "InProgress" ? "active" : "")" href="@Url.Action("InProgress", "Processes")"><i class="fa fa-edit"></i> En Progreso <span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Closed" ? "active" : "")" href="@Url.Action("Closed", "Processes")"><i class="fa fa-folder-o"></i> Archivados <span class="badge badge-pill badge-danger">2</span></a>
    </li>
</ul>
<!--/.Processes Menu-->

@RenderBody()