@model org.oas.cidh.eVote.Models.VoteProcess

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Breadcrumb")

<section>
    <div class="container mt-5">

        <h1 class="font-bold">@Model.Category.Name <small class="text-muted"><br class="rwd-break">@Model.CaseId</small></h1>
        
        <!--Countries List-->
        <div class="pl-1">
            @foreach (var p in Model.Countries)
            {
                <span>
                    <img src="@p.ImgURL" style="border-radius: 0 0 0 0;" alt="@p.Name" /> &nbsp; @p.Name
                </span>
            }
        </div>
        <!--/.Countries List-->

        <div class="row mt-4">
            <div class="col-12 col-md-3 my-2">
                <!--Card Status-->
                <div class="card z-depth-2 @(@Model.StatusId == 1 ? "success-color" : (@Model.StatusId == 2 ? "warning-color" : "red darken-3"))">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="font-weight-bold white-text">@(@Model.StatusId == 1 ? "Abierto" : (@Model.StatusId == 2 ? "Abierto" : "Archivado"))</h5>
                                <small class="white-text">Estado del proceso</small>
                            </div>
                            <div class="col-4">
                                <span class="@(@Model.StatusId == 1 ? "green-text" : (@Model.StatusId == 2 ? "orange-text" : "red-text"))">
                                    <i class="fa fa-4x @(@Model.StatusId == 1 ? "fa-envelope-open-o" : (@Model.StatusId == 2 ? "fa-envelope-o" : "fa-archive"))" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card Status-->
            </div>
            <div class="col-12 col-md-3 my-2">
                <!--Card Deadline-->
                <div class="card z-depth-2 indigo">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="font-weight-bold white-text">@Model.EndDate.ToShortDateString()</h5>
                                <small class="white-text">Fecha de cierre</small>
                            </div>
                            <div class="col-4">
                                <span class="blue-text">
                                    <i class="fa fa-4x @(@Model.StatusId == 3 ? "fa-calendar-times-o" : "fa-calendar")" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card Deadline-->
            </div>
            <div class="col-12 col-md-3 my-2">
                <!--Card Progress-->
                <div class="card z-depth-2 deep-orange">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="font-weight-bold white-text">6 de 7 votos</h5>
                                <small class="white-text">Recibidos</small>
                            </div>
                            <div class="col-4">
                                <span class="orange-text">
                                    <i class="fa fa-4x fa-pie-chart" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card Progress-->
            </div>
            <div class="col-12 col-md-3 my-2">
                <!--Card Result-->
                <div class="card z-depth-2 @(@Model.Result == org.oas.cidh.eVote.Models.VotingResult.Aprobado ? "success-color" : (Model.Result == org.oas.cidh.eVote.Models.VotingResult.NoAprobado ? "secondary-color" : "amber accent-4"))">@*danger-color*@
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="font-weight-bold white-text">@Model.Result.ToString()</h5>
                                <small class="white-text">Resultado</small>
                            </div>
                            <div class="col-4">
                                <span class="@(@Model.Result == org.oas.cidh.eVote.Models.VotingResult.Aprobado ? "green-text" : (Model.Result == org.oas.cidh.eVote.Models.VotingResult.NoAprobado ? "purple-text" : "orange-text"))">@*deep-orange-text*@
                                    <i class="fa fa-4x @(@Model.Result == org.oas.cidh.eVote.Models.VotingResult.Aprobado ? "fa-check" : (Model.Result == org.oas.cidh.eVote.Models.VotingResult.NoAprobado ? "fa-times" : "fa-hourglass-2"))" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card Result-->
            </div>
        </div>

        <div class="row mt-5">
            <!--Commissioners-->
            <div class="col-sm-12 col-md-6 my-2">
                <div class="card white z-depth-2 table-responsive p-4">
                    <div>
                        <p class="font-weight-bold float-left">Votos</p>
                        <i class="fa fa-2x fa-users float-right" style="margin-top:-15px; margin-right:-15px; color:#E0E0E0;" aria-hidden="true"></i>
                    </div>
                    
                    <table class="table table-sm table-hover card-text">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="font-weight-bold">Comisionado</th>
                                <th class="font-weight-bold text-center">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src = "~/Content/img/flags/JA.gif" style="border-radius: 0 0 0 0;" /></td>
                                <td>Margarette May Macaulay</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Aprobado"><i class="fa fa-check green-text"></i></td>
                            </tr>
                            <tr>
                                <td><img src = "~/Content/img/flags/PN.gif" style="border-radius: 0 0 0 0;" /></td>
                                <td>Esmeralda Arosemena de Troitiño</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="No Aprobado"><i class="fa fa-close red-text"></i></td>
                            </tr>
                            <tr>
                                <td><img src = "~/Content/img/flags/CO.gif" style="border-radius: 0 0 0 0;" /></td>
                                <td>Luis Ernesto Vargas Silva</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Aprobado"><i class="fa fa-check green-text"></i></td>
                            </tr>
                            <tr>
                                <td><img src = "~/Content/img/flags/PE.gif" style="border-radius: 0 0 0 0;" /></td>
                                <td>Francisco José Eguiguren Praeli</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="No Aprobado"><i class="fa fa-close red-text"></i></td>
                            </tr>
                            <tr>
                                <td><img src = "~/Content/img/flags/MX.gif" style="border-radius: 0 0 0 0;" /></td>
                                <td>Joel Hernández García</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Aprobado"><i class="fa fa-check green-text" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td><img src = "~/Content/img/flags/CH.gif" style="border-radius: 0 0 0 0;" /></td>
                                <td>Antonia Urrejola Noguera</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="No Aprobado"><i class="fa fa-close red-text" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td><img src = "~/Content/img/flags/BR.gif" style="border-radius: 0 0 0 0;" /></td>
                                <td>Flávia Piovesan</td>
                                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Pendiente"><i class="fa fa-envelope-open-o orange-text" aria-hidden="true"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/.Commissioners-->

            <!--Docs and btn-->
            <div class="col-sm-12 col-md-6 my-2">
                <div class="card white z-depth-2 p-4">
                    <div>
                        <p class="font-weight-bold float-left">Documentos <span class="badge badge-primary badge-pill">4</span></p>
                        <i class="fa fa-2x fa-file float-right"  style="margin-top:-15px; margin-right:-15px; color:#E0E0E0;" aria-hidden="true"></i>
                    </div>
                    
                    <div class="list-group">
                        <a href = "#" class="list-group-item active disabled py-1">Documento principal</a>
                        <a href = "#" class="list-group-item list-group-item-action waves-effect py-1"><i class="fa fa-file-word-o" aria-hidden="true"></i> &nbsp; Dapibus ac facilisis in.docx<i class="fa fa-code-fork pull-right" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Versión anterior"></i></a>
                    </div>
                    <div class="list-group mt-2">
                        <a href = "#" class="list-group-item active disabled py-1">Documentos de soporte</a>
                        <a href = "#" class="list-group-item list-group-item-action waves-effect py-1"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp; Morbi leo risus.xls<i class="fa fa-code-fork pull-right" aria-hidden="true"  data-toggle="tooltip" data-placement="top" title="Versión anterior"></i></a>
                        <a href = "#" class="list-group-item list-group-item-action waves-effect py-1"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp; Porta ac consectetur ac.pdf<i class="fa fa-code-fork pull-right" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Versión anterior"></i></a>
                        <a href = "#" class="list-group-item list-group-item-action waves-effect py-1"><i class="fa fa-file-photo-o" aria-hidden="true"></i> &nbsp; Vestibulum at eros.jpeg<i class="fa fa-code-fork pull-right" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Versión anterior"></i></a>
                    </div>

                    <div class="my-4 text-center">
                        <button class="btn btn-lg @(@Model.StatusId == 1 ? "blue-gradient" : (@Model.StatusId == 2 ? "purple-gradient" : "peach-gradient disabled")) btn-rounded" data-toggle="collapse" data-target="#collapseOne"><i class="switch fa fa-toggle-down pr-2" aria-hidden="true"></i>@(@Model.StatusId == 1 ? "Vóte ahora!" : (@Model.StatusId == 2 ? "Editar voto" : "Votación cerrada"))</button>
                    </div>
                </div>
            </div>
            <!--/.Docs and btn-->

        </div>
        <!--Voting-->
        <div class="row mt-5">
            <div class="col">
                <div>
                    <div class="collapse" id="collapseOne">
                        <!--Panel-->
                        <div class="card white z-depth-2 p-4">
                            <div class="row">
                                <div class="col-11">
                                    <p class="font-weight-bold"><i class="fa fa-archive" aria-hidden="true"></i> Votación</p>
                                </div>
                                <div class="col-1">
                                    <div class="float-right">
                                        <button type = "button" class="close" aria-label="Close" data-toggle="collapse" data-target="#collapseOne">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Info Alert-->
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <i class="fa fa-exclamation-triangle"></i> &nbsp;
                                Este proceso de votacion sera cerrado al alcanzar el minimo de votos requeridos.
                                <button type = "button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!--/.Info Alert-->
                            <p class="mb-0 text-muted">Esta es la descripción del proceso de votación que el administrador puede agregar el momento de crear la votación.</p>
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <h4 class="flex-center font-weight-bold">Su voto: &nbsp; <span id = "vote-result" class="blue-grey-text"></span>&nbsp;<a id = "clear-vote" class="red-text" style="display: none" data-toggle="tooltip" data-placement="top" title="Remover su voto." ><i class="fa fa-times" aria-hidden="true"></i></a></h4>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <div class="flex-center" id="voting-options" data-toggle="buttons"> @*btn-group*@
                                        <label class="btn btn-lg btn-success btn-rounded">
                                            <input type="radio" name="voting-options" id="vote-approved" autocomplete="off" value="Aprobado"> Aprobar
                                        </label>
                                        &nbsp;
                                        <label class="btn btn-lg btn-danger btn-rounded">
                                            <input type="radio" name="voting-options" id="vote-disapproved" autocomplete="off" value="No aprobado"> No aprobar
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-4">
                                <div class="col">
                                    <div class="mt-1 grey lighten-4">
                                        <!--Add comment-->
                                        <div class="md-form mt-1 mb-1">
                                            <textarea type="text" id="form7" class="md-textarea" style="width:100%"></textarea>
                                            <label for="form7" class="p-2">Dejar un comentario...</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-2 text-center">
                                <button type="button" class="btn btn-lg btn-rounded btn-primary" data-toggle="collapse" data-target="#collapseOne" onclick="toastr.success('Su voto ha sido registrado.');"><i class="fa fa-check-square-o pr-2" aria-hidden="true"></i>Guardar Selección</button>
                            </div>
                        </div>
                        <!--/.Panel-->
                    </div>
                </div>
            </div>
        </div>
        <!--/.Voting-->

        <div class="row mt-5">
            <div class="col">
                <!--Comments-->
                <div class="white z-depth-2">
                    <div class="container p-4 ">
                        <h2 class="pt-4 text-center">Comentarios <span class="badge blue">3</span></h2>
                        <div class="row p-4">
                            <div class="col-2">
                                <img class="avatar rounded-circle z-depth-1-half" src="~/Content/img/commissioners/AntoniaUrrejola.jpg" style="max-width: 100px;" />
                            </div>
                            <div class="col-10">
                                <a>
                                    <h4 class="font-weight-bold">Antonia Urrejola</h4>
                                </a>
                                <div class="mt-2">
                                    <ul class="list-unstyled">
                                        <li class="comment-date">
                                            <i class="fa fa-clock-o"></i> 05/10/2015 11:11 AM
                                        </li>
                                    </ul>
                                </div>
                                <p class="grey-text">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </p>

                                <a class="comment" data-toggle="collapse" href="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample-1">Responder este comentario <i class="fa fa-commenting-o" aria-hidden="true"></i></a>

                                <div class="collapse" id="collapseExample-1">
                                    <div class="card card-body mt-1 grey lighten-3">
                                        <!--Agregar un comentario-->
                                        <div class="md-form mt-1 mb-1">
                                            <textarea type="text" id="form7" class="md-textarea" style="width:100%"></textarea>
                                            <label for="form7">Déje un comentario</label>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample-1">
                                                Cancelar
                                            </button>
                                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false"
                                                    aria-controls="collapseExample-1">
                                                Responder
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row p-4">
                            <div class="col-2">
                                <img class="avatar rounded-circle z-depth-1-half" src="~/Content/img/commissioners/EsmeraldaArosemena.jpg" style="max-width: 100px;" />
                            </div>
                            <div class="col-10">
                                <a>
                                    <h4 class="font-weight-bold">Esmeralda Arosemena</h4>
                                </a>
                                <div class="mt-2">
                                    <ul class="list-unstyled">
                                        <li class="comment-date">
                                            <i class="fa fa-clock-o"></i> 05/10/2015 04:20 PM
                                        </li>
                                    </ul>
                                </div>
                                <p class="grey-text">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </p>

                                <a class="comment" data-toggle="collapse" href="#collapseExample-2" aria-expanded="false" aria-controls="collapseExample-2">Responder este comentario <i class="fa fa-commenting-o" aria-hidden="true"></i></a>

                                <div class="collapse" id="collapseExample-2">
                                    <div class="card card-body mt-1 grey lighten-3">
                                        <!--Agregar un comentario-->
                                        <div class="md-form mt-1 mb-1">
                                            <textarea type="text" id="form7" class="md-textarea" style="width:100%"></textarea>
                                            <label for="form7">Déje un comentario</label>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample-1">
                                                Cancelar
                                            </button>
                                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false"
                                                    aria-controls="collapseExample-1">
                                                Responder
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row p-4">
                            <div class="col-2">
                                <img class="avatar rounded-circle z-depth-1-half" src="~/Content/img/commissioners/FranciscoEguiguren.jpg" style="max-width: 100px;" />
                            </div>
                            <div class="col-10">
                                <a>
                                    <h4 class="font-weight-bold">Francisco Eguiguren</h4>
                                </a>
                                <div class="mt-2">
                                    <ul class="list-unstyled">
                                        <li class="comment-date">
                                            <i class="fa fa-clock-o"></i> 05/10/2015 05:15 PM
                                        </li>
                                    </ul>
                                </div>
                                <p class="grey-text">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                                </p>

                                <a class="comment" data-toggle="collapse" href="#collapseExample-3" aria-expanded="false" aria-controls="collapseExample-3">Responder este comentario <i class="fa fa-commenting-o" aria-hidden="true"></i></a>

                                <div class="collapse" id="collapseExample-3">
                                    <div class="card card-body mt-1 grey lighten-3">
                                        <!--Agregar un comentario-->
                                        <div class="md-form mt-1 mb-1">
                                            <textarea type="text" id="form7" class="md-textarea" style="width:100%"></textarea>
                                            <label for="form7">Déje un comentario</label>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample-1">
                                                Cancelar
                                            </button>
                                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false"
                                                    aria-controls="collapseExample-1">
                                                Responder
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />

                        <section class="p-4">
                            <!--Leave a reply form-->
                            <div class="reply-form">
                                <h3 class="section-heading h3 py-4">Déje un comentario </h3>
                                <!--Third row-->
                                <div class="row">
                                    <!--Image column-->
                                    <div class="col-sm-2 col-12">
                                        <img src="~/Content/img/comm1.png" alt="user" class="img-fluid avatar rounded-circle z-depth-2" style="max-width: 100px;">
                                    </div>
                                    <!--/.Image column-->
                                    <!--Content column-->
                                    <div class="col-sm-10 col-12">
                                        <!--Grid row-->
                                        <div class="row">

                                            <div class="col-12 mt-1">
                                                <div class="form-group basic-textarea rounded-corners shadow-textarea">
                                                    <textarea class="form-control" id="exampleFormControlTextarea6" rows="5" placeholder="Su comentario..."></textarea>
                                                </div>

                                                <div class="text-right">
                                                    <button class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">Enviar</button>
                                                </div>

                                            </div>

                                        </div>
                                        <!--Grid row-->

                                    </div>

                                </div>
                                <!--/.Leave a reply form-->
                            </div>
                        </section>
                    </div>
                </div>
                <!--/.Comments-->
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    // Change vote now icon
    $('#collapseOne').on('shown.bs.collapse', function () {
        $(".switch").removeClass("fa-toggle-down").addClass("fa-toggle-up");
    });

    $('#collapseOne').on('hidden.bs.collapse', function () {
        $(".switch").removeClass("fa-toggle-up").addClass("fa-toggle-down");
    });

    // Show voting result
    $('#voting-options input').on('change', function () {
        $('#vote-result').html($('input[name=voting-options]:checked', '#voting-options').val());
        $('#clear-vote').show();
    });

    // Clear voting selection
    $('#clear-vote').on('click', function () {
        $('#vote-result').html('');
        $('#clear-vote').hide();
        $('#voting-options label').removeClass("active");
    });

    // Tooltips Initialization
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>